
body{
background-image: url("http://uupload.ir/files/eegb_aerial-background-bow-1537164.jpg");
}

h1{color:white;
text-align:center;
}

p1{
  direction: rtl;  
}color:brown;font-face:tahoma;font-size:40px;


p2 {color:green;font-face:tahoma;font-size:40px;}


